<%= form_for @user do |f| %>
    <div><%= f.error_messages %></div>
    <div><%= f.text_field :name %></div>
    <div><%= f.text_field :login %></div>
    <div><%= f.password_field :password %></div>
    <div><%= f.password_field :password_confirmation %></div>
    <div><%= f.text_field :email %></div>
    <div><%= f.check_box :autologin %></div>
    <div><%= f.submit %></div>
<% end %>
