<!DOCTYPE html>
<html>
    <head>
        <title>ACalendar</title>
        <link href="http://fonts.googleapis.com/css?family=Spinnaker" rel="stylesheet" type="text/css">
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class='font80p'>
            <%= link_to t(:menu_home), root_path %> |
            <%= link_to t(:menu_help), help_path %> |
            <% if session[:current_user].nil? %>
                <%= link_to t(:menu_login), login_users_path %> |
                <%= link_to t(:menu_create), new_user_path %> |
            <% else %>
                <%= link_to "#{session[:current_user].name} (#{t(:menu_logout)})", logout_users_path %> |
            <% end %>
            <%= link_to t(:menu_en), root_path(:locale => 'en') %>,<%= link_to t(:menu_pl), root_path(:locale => 'pl') %>
        </div>
        <% unless session[:current_user].nil? %>
            <div class='font80p'>
                <%= link_to t(:menu_task_list), tasks_path %> |
                <%= link_to t(:menu_task_new), new_task_path %> |
                <%= link_to t(:menu_task_types), task_types_path %> |
                <%= link_to t(:menu_task_type_new), new_task_type_path %> |
            </div>
        <% end %>

        <%= yield %>
        <div class='debug'>
            <%= params.inspect %>
        </div>
    </body>
</html>
